div(class='navbar navbar-default navbar-fixed-top')
	div(class='container')
	
		//Devices
		div(class='navbar-header')
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class='navbar-brand' href='/')
				span(class="glyphicon glyphicon-home" aria-hidden="true")
				

