div(class='navbar navbar-default navbar-fixed-top')
	div(class='container')
	
		//Devices
		div(class='navbar-header')
			button(class='navbar-toggle collapsed' data-toggle='collapse' data-target="#default_header" aria-expanded="false")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class='navbar-brand' href='/')
				span(class="glyphicon glyphicon-home" aria-hidden="true")
				
		//Desktop, tables...
		div(class='collapse navbar-collapse' id='default_header')
			ul(class='nav navbar-nav navbar-left')
				li(class='active')
					a(href='/') Home