html(ng-app='app')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		title='Cherry'
		include ./critical-styles.html
		include ./favicons.html
	body
		include ./header.html
		link(rel='stylesheet' href='/style/core.css')
		link(rel='stylesheet' href='/style/general.css')
		link(rel='stylesheet' href='/style/details.css')
		div(class='container')
			block content
		
		include ./scripts.html



