extends ./layout.jade

block content

	//Most popular shots	
	div(ng-controller='ShotsCtrl')
		div(class='col-sm-2' ng-repeat='shot in shots' ng-cloak)
			a(ng-click='showDetails($index)' class='md-thumbnail')
				img(ng-src='{{ shot.images.teaser || shot.images.normal }}')
				div(class='caption')
					div(class='trophy')
						span(class="glyphicon glyphicon-heart")
						| {{ shot.likes_count || 0 }}
					div(class='trophy')
						span(class="glyphicon glyphicon-eye-open")
						| {{ shot.views_count || 0 }}
					div(class='trophy')
						span(class="glyphicon glyphicon-comment")
						| {{ shot.comments_count || 0 }}
		div(class='more')
			button(class='btn-block mdl-button ' ng-click='loadMore()' ng-show='!loading' ng-cloak) Load More
			button(class='btn-block mdl-button' ng-show='loading' ng-cloak)
				span(class="glyphicon glyphicon-refresh glyphicon-refresh-animate")
				|    Loading...